@import "tailwindcss";
@import '@fontsource/jost/100.css';  /* Thin */
@import '@fontsource/jost/300.css';  /* Light */
@import '@fontsource/jost/400.css';  /* Regular */
@import '@fontsource/jost/600.css';  /* Semi-bold */
@import '@fontsource/jost/800.css';  /* Extra-bold */

html {
  font-family: 'Jost', sans-serif;
  font-weight: 400;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: 'Jost', sans-serif;
}




